<header class=" header clearfix">
	<div class="top-header ">
		<input type="text" placeholder="搜索知乎内容"/>
		<i class="icon-search"></i>
		<a href="" ui-sref="home-write"  class="icon-bubble"></a>

	</div>
</header>
<div class="choose">
	<ul>
		<li><i class="icon-question-circle-o"></i><a href="">提问</a></li><span class="span1"></span>
		<li><i class="icon-file-text"></i><a href="">回答</a></li><span class="span2"></span>
		<li><i class="icon-share"></i><a href="">分享</a></li>
	</ul>
</div>
<!-- 主体部分 -->
<div class="main-content">
	<div>
		<div class="main-content-top">
			<ul>
				<li class="fl"><i class="icon-basketball"></i>来自话题:体育</li>
				<li class="fr"><a href="#">···</a></li>
			</ul>
		</div>
		<div class="main-content-middle">
			<img src="public/images/tiyu.png" alt=""/>
		</div>
		<div class="main-content-foot">
			<h2>有哪些堪称神器的APP?</h2>
			<p>李云景:01懒得记这是一款记账APP软件[图片]网上记账类的APP很多，为什么推荐这款呢?
				其实很简单。因为它是懒人的福音，完全不需要动手去记账。因为它的识别. . .</p>
			<span>6,120赞</span>・<span>83评论</span>・<a>去往分享列表</a>
		</div>
	</div>
</div>


<div class="">
	<div class="main-content-10001">
		<div class="main-content-top">
			<ul>
				<li class="fl"><i class="icon-basketball"></i>来自话题:科技</li>
				<li class="fr"><a href="#">···</a></li>
			</ul>
		</div>

		<div class="main-content-foot">
			<h2>国内正在发生着哪些世界上少有人关注的重要变革？</h2>
			<p>韩宇:反绿风潮的盛行。各种西安斯坦，宁夏斯坦，甘肃斯坦，新疆斯坦，青海斯坦，云南斯坦...听说
				还多了个河南斯坦？很棒棒。似乎一夜之间，所有人都意识到...</p>
			<span>216赞</span>·<span>104评论</span>·<a>关注问题</a>
		</div>
	</div>
</div>

<div class="main-content">
	<div>
		<div class="main-content-top">
			<ul>
				<li class="fl"><i class="icon-basketball"></i>来自话题:体育</li>
				<li class="fr"><a href="#">···</a></li>
			</ul>
		</div>
		<div class="main-content-middle">
			<img src="public/images/04.jpg" alt=""/>
		</div>
		<div class="main-content-foot">
			<h2>有哪些堪称神器的APP?</h2>
			<p>李云景:01懒得记这是一款记账APP软件[图片]网上记账类的APP很多，为什么推荐这款呢?
				其实很简单。因为它是懒人的福音，完全不需要动手去记账。因为它的识别. . .</p>
			<span>6,120赞</span>・<span>83评论</span>・<a>去往分享列表</a>
		</div>
	</div>
</div>

<div class="main-content">
	<div>
		<div class="main-content-top">
			<ul>
				<li class="fl"><i class="icon-basketball"></i>知乎 Live</li>
				<li class="fr"><a href="#">···</a></li>
			</ul>
		</div>
		<div class="zhihu-Live">
			<div>
				<ul>
					<li >
						<i></i><span>x</span>
						<h2>考研数学-135+冲击名校</h2>
						<p>打铁匠</p>
						<a href="#">查看Live</a>
					</li>
					<li>
						<i></i><span>x</span>
						<h2>考研数学-135+冲击名校</h2>
						<p>打铁匠</p>
						<a href="#">查看Live</a>
					</li>
					<li>
						<i></i><span>x</span>
						<h2>考研数学-135+冲击名校</h2>
						<p>打铁匠</p>
						<a href="#">查看Live</a>
					</li>
					<li>
						<i></i><span>x</span>
						<h2>考研数学-135+冲击名校</h2>
						<p>打铁匠</p>
						<a href="#">查看Live</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>
<div class="main-content">
	<div>
		<div class="main-content-top">
			<ul>
				<li class="fl"><i class="icon-basketball"></i>来自话题:体育</li>
				<li class="fr"><a href="#">···</a></li>
			</ul>
		</div>
		<div class="main-content-middle">
			<img src="public/images/2015042202.jpg" alt=""/>
		</div>
		<div class="main-content-foot">
			<h2>有哪些堪称神器的APP?</h2>
			<p>李云景:01懒得记这是一款记账APP软件[图片]网上记账类的APP很多，为什么推荐这款呢?
				其实很简单。因为它是懒人的福音，完全不需要动手去记账。因为它的识别. . .</p>
			<span>6,120赞</span>·<span>83评论</span>·<a>去往分享列表</a>
		</div>
	</div>
</div>
