<header class=" header clearfix">
    <div class="top-header ">
        <ul>
            <li ><a href="" ui-sref="message.news">消息</a></li>
            <li ><a href="" ui-sref="message.thanks">感谢参与</a></li>
            <div ui-view="messageson"></div>

        </ul>

    </div>
</header>


<!-- 主体部分 -->

<!--<h1>没有信息哦！！</h1>-->

<!-- <footer class="foot-menu " ng-controller="footController">
    <div class="foot-menu-fix clearfix">
        <ul>
            <li ng-repeat="foot in footmenu">
                <a href="" ui-sref="{{foot.link}}">
                    <i class="{{foot.icon}}" ></i>{{foot.text}}
                </a>
            </li> -->
            <!--<li><a href="" ui-sref="home"><i class="icon-home-outline" ></i>首页</a></li>-->
            <!--<li><a href="" ui-sref="find"><i class="icon-eye"></i>发现</a></li>-->
            <!--<li><a href="" ui-sref="market"><i class="icon-calendar"></i>市场</a></li>-->
            <!--<li><a href="" ui-sref="message"><i class="icon-bell"></i>通知</a></li>-->
            <!--<li><a href=""ui-sref="more"><i class="icon-profile"></i>更多</a></li>-->
<!-- 
        </ul>
    </div>
</footer> -->