<!--<header class=" header clearfix">-->
    <!--<div class="top-header ">-->
        <!--&lt;!&ndash;<ul>&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="fl"><a href="" ui-sref="message.news">消息</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="fr"><a href="" ui-sref="message.thanks">感谢参与</a></li>&ndash;&gt;-->


        <!--&lt;!&ndash;</ul>&ndash;&gt;-->

    <!--</div>-->
<!--</header>-->
<div class="news">
<p>没有新的新闻</p>
</div>
<div ui-view></div>

<!-- 主体部分 -->
<!--<h1>没有信息哦！！</h1>-->
<!--<footer class="foot-menu ">-->
    <!--<div class="foot-menu-fix clearfix">-->
        <!--<ul>-->
            <!--<li><i class="icon-home-outline" ></i><a href="" ui-sref="home">首页</a></li>-->
            <!--<li><i class="icon-eye"></i><a href="" ui-sref="find">发现</a></li>-->
            <!--<li><i class="icon-calendar"></i><a href="" ui-sref="market">市场</a></li>-->
            <!--<li><i class="icon-bell"></i><a href="" ui-sref="message">通知</a></li>-->
            <!--<li><i class="icon-profile"></i><a href=""ui-sref="more">更多</a></li>-->

        <!--</ul>-->
    <!--</div>-->
<!--</footer>-->