<header class=" header clearfix">
    <div class="top-header ">
        <input type="text" placeholder="搜索知乎内容"/><i class="icon-search"></i><i class="icon-maximize "></i>
    </div>
</header>
<div class="setting">
    <div class="mine">
        <div class="name">
            <i><img src="public/images/01.jpg" alt=""/></i>
            <p>bikebyebye</p>
            <span>查看个人主页或编辑简介</span>
        </div>
        <div class="open"> <a href="#"> > </a>  </div>
    </div>
</div>

<div class="setting">
    <div class="one-item">
        <div class="info"><i class="icon-pen"></i></div>
        <a href="" class="info-content">我的创作</a>
        <div class="open"> <a href="#"> > </a>  </div>
    </div>
    <div class="one-item">
        <div class="info"><i class="icon-star-outline"></i></div>
        <a href=""  class="info-content">我的收藏</a>
        <div class="open"> <a href="#"> > </a>  </div>
    </div>
    <div class="one-item">
        <div class="info"><i class="icon-eye"></i></div>
        <a href=""  class="info-content">我的关注</a>
        <div class="open"> <a href="#"> > </a>  </div>
    </div>
</div>

<div class="setting">
    <div class="one-item">
        <div class="info"><i class="icon-shopping-bag"></i></div>
        <a href=""  class="info-content">已购内容</a>
        <div class="open"> <a href="#"> > </a>  </div>
    </div>
    <div class="one-item">
        <div class="info"><i class="icon-map"></i></div>
        <a href=""  class="info-content">我的书架</a>
        <div class="open"> <a href="#"> > </a>  </div>
    </div>
    <div class="one-item">
        <div class="info"><i class="icon-waves-outline"></i></div>
        <a href=""  class="info-content">我的值乎</a>
        <div class="open"> <a href="#"> > </a>  </div>
    </div>
    <div class="one-item">
        <div class="info"><i class="icon-social-skype-outline"></i></div>
        <a href=""  class="info-content">我的余额</a>
        <div class="open"> <a href="#"> > </a>  </div>
    </div>
    <div class="one-item">
        <div class="info"><i class="icon-ticket"></i></div>
        <a href=""  class="info-content">我的礼券</a>
        <div class="open"> <a href="#"> > </a>  </div>
    </div>


</div>

<div class="setting">
    <div class="one-item">
        <div class="info"><i class="icon-stopwatch"></i></div>
        <a href="" class="info-content">最近浏览</a>
        <div class="open"> <a href="#"> > </a>  </div>
    </div>
    <div class="one-item" ng-controller="moreController">
        <div class="info"><i class="icon-weather-night"></i></div>
        <a class="info-content">夜间模式</a>
        <div class="open"> <input type="button" data-ng-click="spanClick()"/>   </div>
    </div>

</div>

<!-- 主体部分 -->

<!-- <footer class="foot-menu " ng-controller="footController">
    <div class="foot-menu-fix clearfix">
        <ul>
            <li ng-repeat="foot in footmenu">
                <a href="" ui-sref="{{foot.link}}">
                    <i class="{{foot.icon}}" ></i>{{foot.text}}
                </a>
            </li> -->
            <!--<li><a href="" ui-sref="home"><i class="icon-home-outline" ></i>首页</a></li>-->
            <!--<li><a href="" ui-sref="find"><i class="icon-eye"></i>发现</a></li>-->
            <!--<li><a href="" ui-sref="market"><i class="icon-calendar"></i>市场</a></li>-->
            <!--<li><a href="" ui-sref="message"><i class="icon-bell"></i>通知</a></li>-->
            <!--<li><a href=""ui-sref="more"><i class="icon-profile"></i>更多</a></li>-->
<!--             <div ui-view="moreson"></div>
        </ul>
    </div>
</footer> -->